{
	auto_https off
	admin off
}
:80 {
	encode gzip
	handle /play* {
		reverse_proxy 127.0.0.1:8096
	}
	handle /advanced/downloads* {
		uri strip_prefix /advanced/downloads
		reverse_proxy 127.0.0.1:8282
	}
	handle /kavita* {
		reverse_proxy 127.0.0.1:5000
	}
	handle /seerr* {
		reverse_proxy 127.0.0.1:5055
	}
	handle {
		reverse_proxy 127.0.0.1:8080
	}
}
