{
	auto_https off
	admin off
}
:80 {
	encode gzip
	# Jellyfin Watch is :8096. /play/$id is the ReelOS shell player — do not steal it.
	handle /advanced/downloads* {
		uri strip_prefix /advanced/downloads
		reverse_proxy 127.0.0.1:8282
	}
	handle /seerr* {
		reverse_proxy 127.0.0.1:5055
	}
	handle {
		reverse_proxy 127.0.0.1:8080
	}
}
